*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body,html{
    /* background-color: yellow; */

}

div#container{
    /* background-color:blue; */
    width: 1000px;
    height: 800px;
    /* border: 2px solid black; */
    margin: 0 auto;
    /* text-align:right; */
    /* display: flex;
    flex-direction: row; */
}


#numText {
    font-size: 60px;
}

header{
    background-color: khaki;
    width: inherit;
    height: auto;
    text-align: center;
    padding: 20px;
    border-radius:20px ;
    margin-bottom: 20px;

}

.btn{
    width: 100px;
    height: 40px;
}


section {
    width: inherit;
    height: 600px;
    background-color: lightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
 }

 ul{
     list-style-type: none;
 }

 li{
     margin:20px;
     list-style-type: none;
 }

 div#video{
     text-align: center;
     background-color: red;
     border: maroon;
     padding: 50px;
     border-radius: 20px;
 }

 div#morevid{
     background-color: red;
     border-radius: 10px;
 }


 div#morevid li:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    cursor:pointer;
}

