*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body,html{
    /* background-color: yellow; */

}

div#container{
    /* background-color:blue; */
    width: 1000px;
    height: 800px;
    border: 2px solid black;
    margin: 0 auto;
    /* text-align:right; */
    /* display: flex;
    flex-direction: row; */
}


#numText {
    font-size: 60px;

}

header{
    background-color: khaki;
    width: inherit;
    height: auto;
    text-align: center;
    padding: 50px;

}

.btn{
    width: 100px;
    height: 40px;
}


section {
    width: inherit;
    height: 600px;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
 }

 ul{
     list-style-type: none;
 }

 li{
     margin:20px;
     list-style-type: none;
 }



